<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="style.css">
	<title>VUE - mini</title>
</head>

<body>
	<div id="app">
		<!--open app-->

		<h1 v-bind:style=style>{{texto}} {{upper('vue.js')}}</h1>
		<p>
			<a v-bind:href=myLink v-on:click=clickHandler> link </a>
		</p>
		<span v-for="(item,index) in lista">{{index}}.{{item}} | </span>
		<div><button v-on:click=colorChanger>acción</button>
			<div class="square" v-if=redat></div>
		</div>
		<lalala></lalala>
	
		<!--close app-->
	</div>
	<script src="script.js"></script>
</body>

</html>