<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="style.css">
	<title>VUE - mini</title>
</head>

<body>
	<div id="app">
		<!--open app-->

		<h2>v-bind</h2>
		<p v-bind:style=style>{{texto}} {{upper('vue.js')}}</p>
		
		<h2>v-on</h2>
		<a v-bind:href=myLink v-on:click=clickHandler> link </a>
		
		<h2>v-for</h2>
		<div>
			<span v-for="(item,index) in lista">{{index}}.{{item}} | </span>
		</div>
		
		<h2>v-if</h2>
		<div>
			<button v-on:click=toggleBox>acción</button>
			<div class="square" v-if=showBox></div>
		</div>
		
		<h2>component</h2>
		<lalala></lalala>
		
		<h2>$refs</h2>
		<a href="" ref="reference" v-on:click=getReference> ClicktoConsoleRefs</a>
	
		<!--close app-->
	</div>
	<script src="script.js"></script>
</body>

</html>